# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Local choice
Save0/*
Save1/*
Save2/*
/table/Micky.ods
/table/Joueur_A.ods
/table/Vincent.ods
/table/Lucien.ods
/table/Aloyse.ods

.idea
.ods
*/ods
*/.ods
*.ods*
/table/.~lock.Vincent_ranger.ods#
/autre_aides/informations_alchimiste_complète
